<template>
  <div class="center">
    <table>
      <tr>
        <td>
          <input v-model="form.first_name" required class="input-field" placeholder="First Name" />
        </td>
        <td>
          <input v-model="form.last_name" required class="input-field" placeholder="Last Name" />
        </td>
        <td>
          <input type="number" v-model="form.birth_year" required class="input-field" placeholder="Birth Year" />
        </td>
        <td>
          <button @click="createAuthor" class="button">Create</button>
          <button @click="cancel" class="button red">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</template>


<script>
export default {
  data() {
    return {
      form: {
        first_name: "",
        last_name: "",
        birth_year: null,
      },
    };
  },
  methods: {
    createAuthor() {
      this.$emit("createAuthor", this.form);
    },
    cancel() {
      this.$emit("cancel");
    },
  },
};
</script>


<style scoped>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #ccc;
  box-sizing: border-box;
text-align: center;
}

.input-field:focus{
border-color: #7cafc2;
}
.button {

  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  margin: 0.5em;
  font-size: 1.1em;
  background-color: #a1b56c;
}

.button.red {
  background-color: #ab4642;
}

.button + .button {
  margin-left: 5px;
}
</style>
