<template>
  <td><input class="input-field" v-model="updatedAuthor.first_name" /></td>
  <td><input class="input-field" v-model="updatedAuthor.last_name" /></td>
  <td><input class="input-field" v-model="updatedAuthor.birth_year" type="number" /></td>
  <td>
    <button class="submit-button" @click="submit">Submit</button>
    <button class="cancel-button" @click="cancel">Cancel</button>
  </td>
</template>

<script>
export default {
  props: ["author"],
  data() {
    return {
      updatedAuthor: { ...this.author },
    };
  },
  methods: {
    submit() {
      this.$emit("submit-update", this.updatedAuthor);
    },
    cancel() {
      this.$emit("cancel-update");
    },
  },
};
</script>

<style>
.table td{
padding:12px;
}

.table .input-field {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 90%;
  height: 46px;
   box-sizing: border-box;
    text-align: center;

}


.submit-button {
  background-color: #a1b56c; /* Green */
}

.cancel-button {
  background-color: #ab4642; /* Red */
}

.table button{
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  margin: 0.5em;
  font-size: 1.1em;
}

</style>
