<template>
  <div>
    <h1>Authors</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birth Year</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="author in authors" :key="author.id">
          <template v-if="author.id !== authorToUpdate.id">
            <td>{{ author.first_name }}</td>
            <td>{{ author.last_name }}</td>
            <td>{{ author.birth_year }}</td>
            <td>
              <button @click="startUpdatingAuthor(author)" class="update-button">Update</button>
              <button @click="deleteAuthor(author.id)" class="delete-button">Delete</button>
            </td>
          </template>
          <author-update-form
            v-else
            :author="author"
            @submit-update="submitUpdate"
            @cancel-update="cancelUpdate"
          />
        </tr>
      </tbody>

    </table>
    <div class="create-author-form">
      <button @click="toggleForm" v-if="!isFormOpen" class="toggle-button">
        Create Author
      </button>
      <author-create-form
        v-if="isFormOpen"
        :author="newAuthor"
        @create-author="createAuthor"
        @cancel="cancelForm"
      />
    </div>
  </div>
</template>

<script>
import axios from "../api/axios";
import { ref, onMounted } from "vue";
import AuthorCreateForm from "@/components/AuthorCreateForm.vue";
import AuthorUpdateForm from "@/components/AuthorUpdateForm.vue";

export default {
  components: {
    AuthorCreateForm,
    AuthorUpdateForm,
  },
  setup() {
    const authors = ref([]);
    const newAuthor = ref({
      first_name: "",
      last_name: "",
      birth_year: null,
    });
    const authorToUpdate = ref({});
    const isFormOpen = ref(false);

    const loadAuthors = async () => {
      try {
        const response = await axios.get("/authors");
        authors.value = response.data.data;
      } catch (error) {
        console.error(error);
      }
    };

    const toggleForm = () => {
      isFormOpen.value = !isFormOpen.value;
    };

    const createAuthor = async (authorData) => {
      try {
        await axios.post("/authors", authorData);
        console.log("hello");
        resetForm();
        await loadAuthors();
      } catch (error) {
        console.error(error);
      }
    };
    const startUpdatingAuthor = (author) => {
      authorToUpdate.value = author;
    };

     const submitUpdate = async (updatedAuthor) => {
      try {
        await axios.put(`/authors/${authorToUpdate.value.id}`, updatedAuthor);
        await loadAuthors();
        authorToUpdate.value = {};
      } catch (error) {
        console.error(error);
      }
    };

    const cancelUpdate = () => {
      authorToUpdate.value = {};
    };

    const deleteAuthor = async (authorId) => {
      try {
        await axios.delete(`/authors/${authorId}`);
        await loadAuthors();
      } catch (error) {
        console.error(error);
      }
    };

    const cancelForm = () => {
      resetForm();
    };

    const resetForm = () => {
      newAuthor.value = {
        firstName: "",
        lastName: "",
        birthYear: null,
      };
      isFormOpen.value = false;
    };

    onMounted(() => {
      loadAuthors();
    });

    return {
      authors,
      newAuthor,
      isFormOpen,
      toggleForm,
      createAuthor,
      cancelForm,
      deleteAuthor,
             startUpdatingAuthor,
      submitUpdate,
      cancelUpdate,
      authorToUpdate,
    };
  },
};
</script>

<style scoped>
.table {
     table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  /* margin-top: 20px; */
  margin: 4em;
}
.table th, .table td {
      width: 25%; /* Set specific widths for the columns */
  height: 50px; /* Set a specific height for the rows */
  overflow: hidden; /* Hide any content that overflows the cells */
  text-overflow: ellipsis; /* Use an ellipsis ('...') for overflowing text */
  white-space: nowrap; /* Prevent the content from wrapping to the next line */
  padding: 12px;
  border-bottom: 1px solid #ccc;

}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
}


.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.toggle-button {
  background-color: darkcyan;
}

.table button,
.toggle-button{
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  margin: 0.5em;
  font-size: 1.1em;
}
.delete-button {
  background-color: darkred;
}
.update-button{
   background-color: #7cafc2;
     }
</style>
